<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>Add a category</h1>
      <form action="/categories" method="post">
        <label for="category-name">Category name</label>
        <input id="category-name" name="category-name" type="text">
        <button type="submit">Add</button>
      </form>
      <hr class="style-two">
      <form class="inline" action="/" method="get">
        <button class="btn btn-danger" type="submit" name="button">Back Home</button>
      </form>
      <form class="inline" action="/categories" method="get">
        <button class="btn btn-danger" type="submit" name="button">Back to Categories</button>
      </form>
    </div>
  </body>
</html>
